.container {
  height: 72vh;
  width: 35%;
  display: flex;
  background-image: url(file:///Users/amydu/Desktop/TETRIS%20TIME/background.jpeg);
  background-position: center;
  padding-left: 40%;
  padding-right: 25%;
  padding-top: 1%

}


.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: mistyrose;
}

.grid div {
  height: 20px;
  width: 20px;

}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: mistyrose;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
